<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="executarAgora" value="true" />

    <add key="Usuario" value="83350462391" />
    <add key="Senha" value="Uira2016!" />

    <add key="ambiente" value="producao" />
    <add key="esconderBrowser" value="false" />

    <add key="smtp_server_address" value="127.0.0.1" />
    <add key="smtp_server_port" value="587" />
    <add key="credential_email" value="mrrobot@skynet.com.br" />
    <add key="credential_senha" value="senharobo2018!" />
    <add key="email_from_alias" value="MrRobot@secretplace.com" />

    <add key="email_assunto" value="[Mr Robot] Registro De Atividade" />
    <add key="email_remetente" value="mr.robot@secretplace.com.br" />
    <add key="email_to" value="sangueroots@gmail.com" />
    <add key="email_cc" value="" />
    <add key="email_bcc" value="uiraoliveira@wizsolucoes.com" />
    <add key="email_time_robos" value="" />

    <add key="url_login_local" value="http://localhost/webpagemock/portalrh/" />
    <add key="url_principal_local" value="http://localhost/webpagemock/portalrh/" />
    <add key="url_incluir_marcacao_local" value="http://localhost/webpagemock/portalrh/" />
    <add key="url_api_local" value="http://localhost/Movix.Robo.Api/api/desbloquearusuario/" />

    <add key="url_login_prod" value="https://www.portaldorh.com.br/portal_GPCS/Auto_Default.aspx" />
    <add key="url_principal_prod" value="https://www.portaldorh.com.br/portal_GPCS/Auto_Principal.aspx" />
    <add key="url_incluir_marcacao_prod" value="https://www.portaldorh.com.br/WebPonto105/just_user/IncluirMarcacaoOnLine.asp" />

    <add key="LogFolder" value="C:\Log" />
    <add key="LogServiceFile" value="robo_service_log.txt" />
    <add key="LogServiceFileError" value="robo_service_error_log.txt" />
  </appSettings>
</configuration>